@import '../styles/variables.scss';

.botao-whatsapp {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1.4rem;
    border-radius: 30px;
    background: linear-gradient(145deg, #57c057, $verde-principal);
    color: white;
    border: none;
    transition: all 0.3s ease;
    box-shadow:
        0 0 0 3px lighten($verde-principal, 20%),
        0 0 0 6px $verde-principal;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        background: linear-gradient(145deg, #85c7a2, #1e6c3f);
        box-shadow:
            0 0 0 3px lighten(#257c4a, 20%),
            0 0 0 6px #257c4a;
        text-shadow: none;
    }

    .whatsapp-icon {
        width: 1.2rem;
        height: 1.2rem;
    }
}